@import "tailwindcss";

@theme{
  --color-purple:#8B5CF6;
  --color-purple-dark:#6D28D9;
  --color-lavender:#EDE9FE;
  --color-pink:#F472B6;

  --font-sans: "Poppins", sans-serif;
  --font-script: "Dancing Script", cursive;
}